.section {
  margin: 40px 0;

}

.container {
  padding: 0 80px;
}

.main {

}

.main_info {

}

.last_news {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

